.button {
  border: none;
  background-color: transparent;
  font-size: 13px;
  margin: 0px;
  padding: 0px 5px 0 0;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.text {
  font-size: var(--vkui--font_footnote--font_size--regular);
  color: var(--vkui--color_text_secondary);
}

.infoCell {
  margin: 0;
  padding: 0;
}

.usersStack {
  cursor: pointer;
}

.textContainer {
  display: flex;
}
