.button {
  border: none;
  background-color: transparent;
  font-size: 13px;
  margin: 0px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.text {
  font-size: 13px;
  margin: 0px;
}
